## making a cambridge neuro headstage chanmap useful for mountain, kilo, phy
The probe is defined in google spreadsheet https://docs.google.com/spreadsheets/d/1Bo3k68xBvm2PfGn-1GXsqeeSJwAiV2mtGCz6ebjKwR0/edit#gid=0 and exported in .csv format
probes.py wants a headstage dictionary of {port:site}, where port is the channel, site is the identifier of the site (usually an int [1:n]) that connects to the coordinates of the site.

##### The csv connects pin (1-64) to channels (0-63). Steps are:
- Load the csv into a pandas, indexed with pin and sorted.
- make a dict from chan, abs_pin

In [10]:
import pandas as pd

In [11]:
site_coord_path = '/Users/zeke/Downloads/cambridge_neuro_hstage.csv'

In [15]:
hs_pd = pd.read_csv(site_coord_path).set_index('chan').sort_index()
hs_pd.head()

,conn,pin,conn_pin,abs_pin,Assuming top connect in the probe matches with J1 on the Headstage (conn closest to Omnetics)
chan,,,,,
0,1,4,2,2,NaN
1,1,6,3,3,NaN
2,1,10,5,5,NaN
3,1,12,6,6,NaN
4,1,14,7,7,NaN

In [16]:
hs_pd.keys()

Index(['conn', 'pin', 'conn_pin', 'abs_pin',
       'Assuming top connect in the probe matches with J1 on the Headstage (conn closest to Omnetics)'],
      dtype='object')

In [17]:
hs = {'cambridge-64': {}}
hs['cambridge-64'] = {port: site for port, site in zip(hs_pd.index, hs_pd['abs_pin'])}
hs['cambridge-64']

{0: 2,
 1: 3,
 2: 5,
 3: 6,
 4: 7,
 5: 8,
 6: 9,
 7: 26,
 8: 25,
 9: 18,
 10: 19,
 11: 20,
 12: 21,
 13: 22,
 14: 23,
 15: 33,
 16: 24,
 17: 34,
 18: 50,
 19: 35,
 20: 36,
 21: 51,
 22: 53,
 23: 37,
 24: 54,
 25: 55,
 26: 38,
 27: 56,
 28: 39,
 29: 40,
 30: 57,
 31: 58,
 32: 59,
 33: 41,
 34: 60,
 35: 42,
 36: 61,
 37: 43,
 38: 62,
 39: 44,
 40: 63,
 41: 27,
 42: 64,
 43: 28,
 44: 46,
 45: 29,
 46: 47,
 47: 31,
 48: 48,
 49: 30,
 50: 45,
 51: 32,
 52: 10,
 53: 11,
 54: 12,
 55: 13,
 56: 15,
 57: 14,
 58: 16,
 59: 17,
 60: 49,
 61: 1,
 62: 52,
 63: 4}

In [8]:
probe_poly = {'group_0': {17: (18, 275),  # column 1
                                        16: (18, 250),
                                        18: (18, 225),
                                        15: (18, 200),
                                        19: (18, 175),
                                        14: (18, 150),
                                        20: (18, 125),
                                        13: (18, 100),
                                        21: (18, 75),
                                        12: (18, 50),
                                        22: (18, 25),
                                        11: (18, 0),
                                        10: (0, 237),  # column 0
                                        9: (0, 212),
                                        8: (0, 187),
                                        7: (0, 162),
                                        6: (0, 137),
                                        5: (0, 112),
                                        4: (0, 87),
                                        3: (0, 62),
                                        2: (0, 37),
                                        1: (0, 12),
                                        23: (36, 237),  # column 3
                                        24: (36, 212),
                                        25: (36, 187),
                                        26: (36, 162),
                                        27: (36, 137),
                                        28: (36, 112),
                                        29: (36, 87),
                                        30: (36, 62),
                                        31: (36, 37),
                                        32: (36, 12)
                                        }
                                        }