## making a cambridge neuro probe chanmap useful for mountain, kilo, phy
The probe is defined in google spreadsheet https://docs.google.com/spreadsheets/d/1Bo3k68xBvm2PfGn-1GXsqeeSJwAiV2mtGCz6ebjKwR0/edit#gid=0 and exported in .csv format
##### The csv connects pin (1-64) to coordinates (x, y). Steps are:
- Load the csv into a pandas, indexed with pin and sorted.
- Make position column (tuple x, y).
- make a dict from index, pos columns

In [1]:
import pandas as pd

In [2]:
site_coord_path = '/Users/zeke/Downloads/cambridge_neuro_mapping - ASSY-236 â€“ H5.csv'

In [22]:
coord_pd = pd.read_csv(site_coord_path).set_index('abs_pin').sort_index()
coord_pd.head()

         col  row   x    y
abs_pin
1          1   13  20  130
2          1    1  20   10
3          0    4   0   40
4          1   11  20  110
5          0    8   0   80

In [36]:
coord_pd.keys()

Index(['col', 'row', 'x', 'y', 'pos'], dtype='object')

In [31]:
coord_pd['pos'] = coord_pd.apply(lambda x: (x['x'], x['y']), axis=1)
coord_pd.head()

         col  row   x    y        pos
abs_pin
1          1   13  20  130  (20, 130)
2          1    1  20   10   (20, 10)
3          0    4   0   40    (0, 40)
4          1   11  20  110  (20, 110)
5          0    8   0   80    (0, 80)

In [41]:
probe = {'assy-236-h5': {}}
probe['assy-236-h5']['group_0'] = {pin: pos for pin, pos in zip(coord_pd.index, coord_pd['pos'])}
probe['assy-236-h5']

{'group_0': {1: (20, 130),
  2: (20, 10),
  3: (0, 40),
  4: (20, 110),
  5: (0, 80),
  6: (20, 170),
  7: (20, 270),
  8: (0, 220),
  9: (0, 380),
  10: (20, 430),
  11: (20, 330),
  12: (0, 480),
  13: (0, 540),
  14: (20, 610),
  15: (20, 550),
  16: (0, 580),
  17: (0, 60),
  18: (0, 300),
  19: (0, 140),
  20: (20, 190),
  21: (20, 90),
  22: (20, 250),
  23: (0, 280),
  24: (0, 400),
  25: (20, 390),
  26: (20, 410),
  27: (20, 450),
  28: (20, 350),
  29: (0, 500),
  30: (20, 490),
  31: (20, 590),
  32: (0, 440),
  33: (20, 50),
  34: (20, 310),
  35: (0, 120),
  36: (0, 180),
  37: (20, 30),
  38: (0, 260),
  39: (0, 160),
  40: (0, 240),
  41: (20, 210),
  42: (0, 420),
  43: (20, 370),
  44: (0, 340),
  45: (0, 320),
  46: (20, 510),
  47: (20, 630),
  48: (0, 600),
  49: (20, 150),
  50: (0, 0),
  51: (0, 20),
  52: (0, 100),
  53: (20, 70),
  54: (20, 290),
  55: (0, 200),
  56: (20, 230),
  57: (0, 360),
  58: (20, 470),
  59: (0, 460),
  60: (0, 520),
  61: (0, 560),
  62: (20, 570),
  63: (20, 530),
  64: (0, 620)}}

In [8]:
probe_poly = {'group_0': {17: (18, 275),  # column 1
                                        16: (18, 250),
                                        18: (18, 225),
                                        15: (18, 200),
                                        19: (18, 175),
                                        14: (18, 150),
                                        20: (18, 125),
                                        13: (18, 100),
                                        21: (18, 75),
                                        12: (18, 50),
                                        22: (18, 25),
                                        11: (18, 0),
                                        10: (0, 237),  # column 0
                                        9: (0, 212),
                                        8: (0, 187),
                                        7: (0, 162),
                                        6: (0, 137),
                                        5: (0, 112),
                                        4: (0, 87),
                                        3: (0, 62),
                                        2: (0, 37),
                                        1: (0, 12),
                                        23: (36, 237),  # column 3
                                        24: (36, 212),
                                        25: (36, 187),
                                        26: (36, 162),
                                        27: (36, 137),
                                        28: (36, 112),
                                        29: (36, 87),
                                        30: (36, 62),
                                        31: (36, 37),
                                        32: (36, 12)
                                        }
                                        }